<footer class="footer">
  <div class="wrapper">
    
    <div class="footer_main">
      <div class="footer_sponsor">
	<p>
          FreeRADIUS documentation is sponsored by
	  <a href="https://networkradius.com/">
            <img class="footer_logo" src="{{or site.url (or siteRootUrl siteRootPath)}}/_/img/networkradius-white.svg" alt="" width="200">
          </a>
          and licensed <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.
        </p>
      </div>
      <p>
        &copy; 2023 NetworkRADIUS SARL<br>
        &copy; 2023 The FreeRADIUS Server Project and Contributors
      </p>
      <div class="footer_social">
        <a href="https://github.com/FreeRADIUS"><img class="icon_small" src="{{or site.url (or siteRootUrl siteRootPath)}}/_/img/github-white.svg" alt=""></a>
        <a href="https://twitter.com/freeradius"><img class="icon_small" src="{{or site.url (or siteRootUrl siteRootPath)}}/_/img/twitter-white.svg" alt=""></a>
        <a href="http://stackoverflow.com/tags/freeradius/info"><img class="icon_small" src="{{or site.url (or siteRootUrl siteRootPath)}}/_/img/stackoverflow-white.svg" alt=""></a>
      </div>
    </div>

    <nav class="footer_nav">
      <ul>
        <li><a href="/documentation/">Docs</a></li>
        <li><a href="http://wiki.freeradius.org/Home">Wiki</a></li>
        <li><a href="http://freeradius.org/radiusd/man/">Manual Pages</a></li>
        <li><a href="http://deployingradius.com/">Useful How-To's</a></li>
        <li><a href="http://networkradius.com/doc.html">Full Server Docs</a></li>
        <li><a href="http://doc.freeradius.org/">Api Docs</a></li>
      </ul>
      <ul>
        <li><a href="https://freeradius.org/modules/">Modules</a></li>
        <li><a href="https://freeradius.org/modules/">Packages</a></li>
        <li><a href="https://github.com/FreeRADIUS/freeradius-server/issues/new">Report A Bug</a></li>
      </ul>
      <ul>
        <li><a href="https://freeradius.org/community/">Community</a></li>
        <li><a href="https://freeradius.org/support/">Mailing Lists</a></li>
        <li><a href="https://freeradius.org/community/#contributing">Contribute</a></li>
        <li><a href="https://freeradius.org/community/#developer_docs">Developer Docs</a></li>
      </ul>
      <ul>
        <li><a href="https://freeradius.org/about/">About</a></li>
        <li><a href="https://freeradius.org/about/#project">The Project</a></li>
        <li><a href="https://freeradius.org/about/#usage_statistics">Why We're No. 1</a></li>
        <li><a href="https://freeradius.org/about/#security">Security</a></li>
        <li><a href="https://freeradius.org/about/#team">Team</a></li>
      </ul>
      <ul>
        <li><a href="https://freeradius.org/support/">Support</a></li>
        <li><a href="https://github.com/FreeRADIUS/freeradius-server/issues/new">Issue Tracker</a></li>
        <li><a href="https://freeradius.org/security/">Security Issues</a></li>
        <li><a href="http://stackoverflow.com/questions/tagged/freeradius">FAQs</a></li>
        <li><a href="https://freeradius.org/support/">Newsletters</a></li>
        <li><a href="https://freeradius.org/commercial_support/">Commercial</a></li>
        <li><a href="https://freeradius.org/support/">Support</a></li>
      </ul>
    </nav>
  
  </div>
</footer>
