<footer class="footer">
  <div class="wrapper">
    
    <div class="footer_main">
      <div class="footer_sponsor">
	<p>
          FreeRADIUS documentation is sponsored by
	  <a href="inkbridgenetworks.com">InkBridge Networks</a>
          and is licensed as <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.
        </p>
      </div>
      <p>
        &copy; 2025 InkBridge Networks<br>
        and individual contributors
      <div class="footer_social">
        <a href="https://github.com/FreeRADIUS"><img class="icon_small" src="{{uiRootPath}}/img/github-white.svg" alt=""></a>
        <a href="https://twitter.com/freeradius"><img class="icon_small" src="{{uiRootPath}}/img/twitter-white.svg" alt=""></a>
        <a href="http://stackoverflow.com/tags/freeradius/info"><img class="icon_small" src="{{uiRootPath}}/img/stackoverflow-white.svg" alt=""></a>
      </div>
    </div>

    <nav class="footer_nav">
      <ul>
        <li><a href="https://freeradius.org/about/">About</a></li>
        <li><a href="https://freeradius.org/about/#project">The Project</a></li>
        <li><a href="https://freeradius.org/about/#usage_statistics">Why We're No. 1</a></li>
        <li><a href="https://freeradius.org/about/#team">Team</a></li>
      </ul>
      <ul>
        <li><a href="https://freeradius.org/security/">Security</a></li>
        <li><a href="https://freeradius.org/security/">Public Notifications</a></li>
        <li><a href="https://github.com/FreeRADIUS/freeradius-server/issues/">Issue Tracker</a></li>
        <li><a href="https://github.com/FreeRADIUS/freeradius-server/issues/new">Report A Bug</a></li>
      </ul>
      <ul>
        <li><a href="https://freeradius.org/community/">Community</a></li>
        <li><a href="https://freeradius.org/support/">Mailing Lists</a></li>
        <li><a href="https://freeradius.org/community/#contributing">Contribute</a></li>
        <li><a href="http://stackoverflow.com/questions/tagged/freeradius">Stack Overflow</a></li>
      </ul>
      <ul>
        <li><a href="https://www.inkbridgenetworks.com/support/">Support</a></li>
        <li><a href="https://www.inkbridgenetworks.com/support/">Commercial Support</a></li>
        <li><a href="https://packages.inkbridgenetworks.com">Download Packages</a></li>
	<li><a href="https://www.inkbridgenetworks.com/about-us">About InkBridge Networks</a></li>
      </ul>
      <div>
	  <a href="https://inkbridgenetworks.com/"">
            <img class="footer_logo" src="{{uiRootPath}}/img/inkbridge-white.png" alt="" width="130">
          </a>
      </div>
    </nav>  
  </div>
</footer>
