<header class="header">
    <div class="sites-nav">
      <span>OUR SITES</span>
      <a href="https://inkbridgenetworks.com/">InkBridge</a>
      <a href="https://freeradius.org/">FreeRADIUS</a>
    </div>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}"><img width="190" src="{{uiRootPath}}/img/freeradius-logo.svg" alt=""></a>
    </div>
  </nav>
</header>
