<header class="header">
    <div class="sites-nav">
      <span>OUR SITES</span>
      <a href="https://inkbridgenetworks.com/">InkBridge</a>
      <a href="https://freeradius.org/">FreeRADIUS</a>
    </div>
  <nav class="navbar">
    <div class="navbar-brand">
      <div>
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}"><img width="190" src="{{uiRootPath}}/img/freeradius-logo.svg" alt=""></a>
      </div>
      <div style="right:0;position:fixed;padding-right:1.5rem;">
     <a class="navbar-item" href="https://inkbridgenetworks.com"><img width="140" src="{{uiRootPath}}/img/inkbridge-secondary.svg" alt=""></a>
      </div>
    </div>
  </nav>
</header>
